<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="workshop.flutter.starters.aisdigital.com.br.flutter_workshop">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
